{% extends 'BlogPost/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h3 class="display-4">Welcome to  my site!</h3>
                <h6 class="display-5">I'm MD. Soharab Hossain Sohan</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis commodi error impedit inventore laudantium quo, saepe sed totam? Aliquam consequuntur exercitationem id magni maxime natus nostrum quas totam vitae voluptas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta dolor doloribus enim est explicabo harum illo laboriosam libero, neque nisi nulla officiis perferendis possimus quis unde vitae, voluptas voluptatum.</p>
                <h5>bye</h5>
            </div>
        </div>
    </div>
{% endblock%}